---
import { CollectionEntry } from 'astro:content';
export interface Props {
	post: CollectionEntry<'blog'>;
	className?: String;
	layout?: 'card' | 'list';
}

const { post, className, layout = 'card' } = Astro.props as Props;
const isOffsite = !!post.data.originalArticle;
const isCard = layout === 'card';
const isList = layout === 'list';

const formatDate = (date: Date) => {
	return date.toLocaleString('default', {
		month: 'short',
		day: 'numeric',
		year: 'numeric',
	});
};

const getReadMoreText = (postSource: string | undefined) => {
	if (postSource === 'Medium') {
		return 'Read more on Medium.com';
	}

	if (postSource === 'ThisDot') {
		return 'Read more on ThisDot.co';
	}

	return 'Read more';
};
---

<a
	href={isOffsite ? post.data.originalArticle : `/blog/${post.slug}`}
	target={isOffsite ? '_blank' : '_self'}
	class:list={[
		'group block rounded-xl bg-white dark:bg-gray-600 border-2 border-blue-100 hover:border-blue-600 dark:border-slate-400 dark:hover:border-blue-300 hover:no-underline overflow-clip hover:shadow-lg shadow-blue-900',
		className,
	]}
	rel="noopener noreferrer"
>
	<article
		class:list={[
			'flex',
			{ 'flex-col h-full': isCard, 'flex-row w-full': isList },
		]}
	>
		<div
			class:list={[
				'bg-blue-900 flex',
				{
					'h-48 sm:h-64 order-first mb-4': isCard,
					'w-48 sm:w-1/3 order-last': isList,
				},
			]}
		>
			<img
				src={post.data.heroImage}
				alt={post.data.alt}
				class="relative w-full max-h-48 object-contain sm:max-h-64"
				loading="lazy"
			/>
		</div>
		<div class:list={['flex flex-col grow px-4', { 'w-2/3 p-4': isList }]}>
			<p class="text-sm text-gray-500 dark:text-gray-200 mb-1">
				{formatDate(post.data.publishDate)}
			</p>
			<h2
				class="text-2xl text-blue-600 group-hover:text-blue-800 dark:text-blue-100 dark:group-hover:text-blue-300 m-0"
			>
				{post.data.title}
			</h2>

			<div class="text-gray-500 dark:text-gray-200 grow py-2">
				{post.data.description}
			</div>
			<div
				class="font-bold text-blue-600 group-hover:text-blue-800 dark:text-blue-100 dark:group-hover:text-blue-300 py-2"
			>
				{getReadMoreText(post.data.originalSource)} &rarr;
			</div>
		</div>
	</article>
</a>
