---
import BaseLayout from '@/layouts/base.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import BlogPost from '@/components/BlogPost.astro';

const { content } = Astro.props;
const { title, description, heroImage, redirectUrl } = content;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<BaseLayout
	{title}
	{description}
	socialImage={`https://dustingoodman.dev${heroImage}`}
	{canonicalURL}
	{redirectUrl}
>
	<Header />
	<main class="container mx-auto py-4 md:py-8">
		<BlogPost post={content}>
			<slot />
		</BlogPost>
	</main>
	<Footer />
</BaseLayout>
